<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Watch List" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rails Watch List">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black font-color-white px-4">
       <div class="white-icon"><i class="fa-solid fa-clapperboard"></i></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="dropdown" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Home', lists_path, class:"nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              Lists
            </button>
            <ul class="dropdown-menu">
            <% List.all.each do |list| %>
                <li><%= link_to list.name, list_path(list), class:"dropdown-item" %></li>
            <% end %>
            </ul>
          </li>
        </ul>
        <%= simple_form_for :search, url: search_path, method: :get, html: { class: "d-flex" } do |f| %>
          <%= f.input :query,
              label: false,
              input_html: {
                class: "form-control me-2",
                placeholder: "Search..."
              } %>

          <%= f.input :category,
              collection: [["Lists", "list"], ["Movies", "movie"]],
              include_blank: false,
              label: false,
              input_html: { class: "form-select me-2" } %>

          <%= f.button :submit, "Search", class: "btn btn-outline-success" %>

         <% end %>
      </div>
    </nav>

    
    <%= yield %>
  </body>
</html>
